{% extends 'SuperHeroTheme.html' %}

  <h1>Superhero News</h1>
    {% block content %}
        {% for hero in heroes %}
            <p>
                Hero: {{ hero.name }}
            </p>
            <p>
                Secret Identity: {{ hero.identity }}
            </p>

            <a href="{% url 'HeroDetail' hero.id %}"><img src="{{ hero.image.url }}" alt="{{ hero.identity }}" width="300"></a>
            <br>
            <br>
        {% endfor %}
    <a href="add">Add Hero</a>
    {% endblock content %}