{% extends 'SuperHeroTheme.html' %}

<h1>Superhero News</h1>
{% block content %}
<p>
    {% if user.is_authenticated %}
    <a href="{% url 'Profile' %}">Profile</a>
    <a href="{% url 'Logout' %}">Logout</a>
    {% else %}
    <a href="{% url 'Login' %}">Login</a>
    <a href="{% url 'Register' %}">Register</a>
    {% endif %}
</p>
<p>
    <a href="add">Add Hero</a>
</p>
{% for hero in heroes %}
<p>
    Hero: {{ hero.name }}
</p>
<p>
    Secret Identity: {{ hero.identity }}
</p>

<a href="{% url 'HeroDetail' hero.id %}">
    <img width="300" src="/static/images/{{ hero.image }}">
</a>
<br>
<br>
{% endfor %}
<a href="add">Add Hero</a>
{% endblock content %}
