{% extends 'SuperHeroTheme.html' %}


{% block main %}

    <h1>Hero Profiles</h1>
       
        <h2>Hero - {{ hero.name }}</h2>
        <p>
            These are my favorite superheroes.
        </p>
        <p>
            <a href="Hero/SpiderMan">Spider-Man Profile</a>
             <a href="Hero/CaptainAmerica">Captain America Profile</a>
             <a href="Hero/IronMan">Iron Man Profile</a>
             <a href="Hero/Daredevil">Daredevil Profile</a>
             <a href="Hero/Wolverine">Wolverine Profile</a>
        </p>
{% endblock main %}
