header {
    font-famiy: arial sans-serif;
    background-color: red;
    padding: 0.5em;
}

header h1 {
    font-size: 70px;
    color: black;
    margin-bottom: 0em;
}

body {
    margin-left=10px;
}
